* {
  padding: 0;
  margin: 0;
}
.portfolio {
  width: 1020px;
  height: 864px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}
.top_portfolio {
  margin: auto;
  width: 940px;
  padding: 69px 0 10px 0;
}
.header_portfolio {
  padding-bottom: 29px;
}
.header_portfolio h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.006em;
}

.text_portfolio p {
  height: 39px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "LatoLight";
  text-align: left;
  word-spacing: -0.01em;
  letter-spacing: -0.01em;
  overflow: hidden;
}
.buttons_portfolio {
  width: 288px;
  margin-bottom: 9px;
}
.navigation_portfolio {
  display: flex;
  justify-content: space-between;
}
.navigation_portfolio li {
  list-style-type: none;
  cursor: pointer;
  margin-left: 1px;
  background-color: #2d303a;
  border-radius: 5px;
  font-size: 12px;
  line-height: 21px;
  font-family: "LatoRegular";
  text-align: center;
}

.all {
  width: 27px;
  height: 20px;
  color: #dedede;
  border: 1px solid #c5c5c5;
}
.web_design {
  width: 76px;
  height: 20px;
  color: #767e9e;
  border: 1px solid #767e9e;
}
.graphic_design {
  width: 91px;
  height: 20px;
  color: #767e9e;
  border: 1px solid #767e9e;
}
.artwork {
  width: 55px;
  height: 20px;
  color: #767e9e;
  border: 1px solid #767e9e;
}
.navigation_portfolio li:hover {
  color: #dedede;
  border: 1px solid #c5c5c5;
}
images_portfolio {
  margin: auto;
  width: 940px;
}
.layout-4-column {
  width: 940px;
  height: 601px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  overflow: hidden;
  margin: 0 40px 0;
}
.img_portfolio {
  width: 220px;
  height: 187px;
  margin-bottom: 20px;
}
.about_us {
  width: 1020px;
  height: 665px;
  padding-bottom: 63px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}
.top_about_us {
  margin: 0 auto;
  width: 940px;
  height: 218px;
}
.header_about_us {
  padding-top: 68px;
}
.header_about_us h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.006em;
}
.text_about_us {
  height: 57px;
  padding-top: 29px;
}
.text_about_us p {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "LatoLight";
  text-align: justify;
  letter-spacing: -0.01em;
  word-spacing: -0.01em;
}
.cards_about_us {
  margin: 0 auto;
  width: 940px;
  height: 511px;
}
.layout-3-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_designer {
  width: 300px;
  height: 300px;
}
.name_card {
  margin: 13px 0 10px 0;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.01em;
  word-spacing: -0.01em;
}
.text_card {
  margin-top: 20px;
  width: 300px;
  height: 175px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "LatoRegular";
  text-align: justify;
  overflow: hidden;
  letter-spacing: -0.01em;
  word-spacing: -0.02em;
}
.social_media {
  margin-top: 22px;
}
.links_social_media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 4fr;
  justify-content: left;
  grid-gap: 5px;
  list-style-type: none;
  cursor: pointer;
}
.links_social_media img:hover {
  filter: invert(1);
}
