* {
  padding: 0;
  margin: 0;
}
.header {
  height: 89px;
  width: 1020px;
  background-color: #2d303a;
  border-bottom: solid 6px #323746;
}
.header_content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-left: 39px;
  padding-top: 4px;
  letter-spacing: normal;
  cursor: default;
  text-align: left;
}
.logo h1 {
  font-size: 24px;
  line-height: 6px;
  color: #ffffff;
  font-family: "LatoBold", Verdana, serif;
  text-transform: uppercase;
  letter-spacing: 0.05px;
}
.logo span {
  color: #d6645e;
}
.header_navigation {
  width: 372px;
  margin-right: 40px;
  padding-top: 10px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.25px;
  font-size: 12px;
  color: #ffffff;
  font-family: "LatoBold", Verdana, serif;
}
.navigation li {
  list-style-type: none;
  text-transform: uppercase;
  cursor: pointer;
}
.navigation li:hover {
  color: #f06c64;
}
.navigation li:first-child {
  color: #f06c64;
}
.slider {
  height: 594px;
  width: 1020px;
  border-bottom: solid 6px #ea676b;
  background-color: #f06c64;
}
.layout-3-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider_control_left {
  margin-bottom: -2px;
  margin-left: 42px;
  margin-top: 16px;
}
.slider_control_left:hover,
.slider_control_right:hover {
  filter: invert(1);
}
.slider_control_right {
  margin-bottom: -2px;
  margin-right: 40px;
  margin-top: 16px;
}
.slider_images {
  margin-top: 15px;
  margin-left: 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.vertical_phone {
  padding: 38px 35px;
}
.horisontal_phone {
  padding: 38px;
  margin-bottom: 1px;
}
.servis_content {
  height: 494px;
  width: 1020px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}
.servis_content_description {
  padding: 68px 0 47px 40px;
}
.servis_content_description h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", Verdana, serif;
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.23px;
  padding-bottom: 28px;
}
.servis_content_description p {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "LatoLight", Verdana, serif;
  letter-spacing: -0.21px;
  text-align: justify;
}
.servis_content_first_row {
  width: 1020;
  margin: 0 40px 0 40px;
}
.servis_content_second_row {
  width: 940;
  margin: 0 40px 0 40px;
}
.content_item {
  width: 300px;
  height: 123px;
  overflow: hidden;
  display: flex;
}
.content_item img {
  padding-right: 14px;
  margin-top: 2px;
}
.content_item_text {
  margin-left: 8px;
  padding-right: 6px;
}
.content_item_text h3 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", Verdana, serif;
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.02px;
}
.content_item_text p {
  padding-top: 10px;
  width: 219px;
  height: 128px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "LatoRegular", Verdana, serif;
  text-align: justify;
}
