* {
  padding: 0;
  margin: 0;
}

.header {
  height: 89px;
  width: 1020px;
  background-color: #2d303a;
  border-bottom: solid 6px #323746;
}
.header_content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 39px;
  padding-top: 4px;
  letter-spacing: normal;
  cursor: default;
  text-align: left;
}
.logo h1 {
  font-size: 24px;
  line-height: 6px;
  color: #ffffff;
  font-family: "LatoBold";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05px;
}
.logo span {
  color: #d6645e;
}
.header_navigation {
  width: 371px;
  margin-right: 40px;
  padding-top: 10px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.1px;
  font-size: 12px;

  color: #ffffff;
  font-family: "LatoBold";
  font-weight: 700;
}
.navigation li {
  list-style-type: none;
  text-transform: uppercase;
  cursor: pointer;
}
.navigation li:hover {
  color: #f06c64;
}
.navigation li:first-child {
  color: #f06c64;
}

.slider {
  height: 600px;
  width: 1020px;
  border-bottom: solid 6px #ea676b;
  background-color: #f06c64;
}
.layout-3-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider_control_left {
  margin-left: 40px;
}
.slider_control_left:hover,
.slider_control_right:hover {
  filter: invert(1);
}
.slider_control_right {
  margin-right: 40px;
}
.slider_images {
  margin-top: 53px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.vertical_phone {
  padding: 37.5px;
}
.horisontal_phone {
  padding: 37.5px;
}
.footer {
  height: 500px;
}
