* {
  padding: 0;
  margin: 0;
}

.header {
  height: 90px;
  width: 1020px;
  background-color: #2d303a;
  border-bottom: solid 6px #323746;
}
.header_content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 110px;
  margin-left: 40px;
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-family: "LatoBold";
  text-align: left;
  text-transform: uppercase;
  cursor: default;
}
.logo span {
  color: #d6645e;
}
.header_navigation {
  width: 370px;
  margin-right: 40px;
}
.navigation {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  line-height: 6px;
  color: #ffffff;
  font-family: "LatoBold";
  text-align: left;
}
.navigation li {
  list-style-type: none;
  text-transform: uppercase;
  cursor: pointer;
}
.navigation li:hover {
  color: #f06c64;
}
.navigation li:first-child {
  color: #f06c64;
}

.slider {
  height: 600px;
}
.footer {
  height: 500px;
}
